/*-------Jeacqueline Rios-------*/
/*To make the document start up to the top without margins*/
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
/*Here I defined all the "structure" that I want the document to have
the font, the size, the background and that it should be justified**/
body{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-size: 20px;
    background-color: #cbebf1;
}

/*The header element contains h1, nav, a and the header has its own little box added to make it more distinguishable*/
header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding: 10px;
}
#avatar{
    display:flex;
    align-items: center;
}
#avatar img{
    height: 100px;
    margin-right:10px;
}

h1{
    color:white;
    font-size:45px;

}

nav{
    text-align: right;

}
nav a{
    font-weight: 600;
    padding-right:10px;
}

nav a:hover{
    color:rgb(31, 209, 209)
}

/*Here I modified so that they would be seen on the same line*/
li,
a{
    display: inline;
    color:rgb(219, 219, 23);
    text-decoration: none;
}
/*are all the h2 that I added*/
h2{
    text-align: left;
    color: black;
    font-size: 40px;
}
p{
    margin:5%;
}
/*all section headings (About me, Work, Contact me and Resume)are on the left side of the screen*/
section{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
article{
    width:100%;
}
/*here all divs to the right, but something is missing*/ /*Move the div id=about,contact,work and resume below h2!!!!*/
div{
    text-align: justify;
    margin-left: 15%;
    margin-bottom: 1rem;
}
/*margin-left:15%; so that it looks the way I want it: text on the right, titles on the left*/


/*to add the boxes I used this*/
.text{
    border-left: 5px solid black;

    background-color: transparent;
    text-align: justify;
    line-height: 25px;
}
 /*Container (card)*/
.projects{
    width: 100%;
    max-width: 1200px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}
/*-----------Jeacqueline Rios----------*/
.card{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(./images/work-in-progress.jpeg);
    background-position: center;
    color:white;
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    border:1px solid black;
    overflow: hidden;
    margin:20px;
    text-align: center;
    transition:all 0.25s;
}
.prework{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(./images/tecnologico-de-Monterrey.jpeg);
    background-size:cover;
}
.prework:hover{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(./images/tecnologico-de-Monterrey.jpeg);
    background-size:cover;
    width: 430px;
    height: 530px;
}
.projects .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);

}

/*Project Aircast*/
.aircast{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(./images/project1.png);
    background-size:cover;
}
.aircast:hover{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(./images/project1.png);
    background-size:cover;
    width: 430px;
    height: 530px;
}

#project1{
    font-size: 20px;
    color:rgb(43, 226, 220);
    text-decoration: none;
}
#project1:hover{
    font-size: 40px;
    color:rgb(99, 202, 220);
}

img.icon{
    width: 40px;
    height:40px;
}

ul{
    margin-left: 10%;

}
#resume{
    color:black;
}
#resume{
    display:block;
    padding:1rem;
}
img.resume{
    width:200px;
    height:200px;
    border-radius: 20px;
    padding:1rem;
}
/*Added "box" to the footer */
/*-----------Jeacqueline Rios----------*/
footer{
    height: 100%;
    width: 100%;
    line-height:100px;
    background-color: black;
    text-align:center;
    color:white;
}

@media (max-width:760px){
  header{
    flex-direction: column;
  }
  nav{
    padding:10px 0px;
  }
}